html, a {
	font-family: Arial;
	color: #555555;
}

.message {
	margin-top: 8px;
	border: 2px dotted #cccccc;
	padding: 4px;
	background-color: #E8E5C1;
	border-radius: 3px;
}

.message a {
	text-decoration: none;
}

.message a:hover {
	text-decoration: underline;
}

.important {
	font-weight: bold;
}

.command {
	margin-top: 8px;
}

.command-number {
	font-size: smaller;
	color: #aaaaaa;
	min-width: 24px;
	display: inline-block;
}

.command-name {
	font-weight: bold;
}

.command-bracket {
	font-style: italic;
	color: #cccccc;
}

.command-comma {
	font-style: italic;
	color: #cccccc;
}

.command-argument {
	font-style: italic;
}

.command-comment {
	color: #6FC452;
}

.argument, .return, .assertions, .test {
	margin-left: 24px;
}

.argument-value {
	display: inline-block;
}

.assertion {
	color: #aaaaaa;
}

.fail, .test-fail {
	color: #C45252;
}

.warn {
	color: #C97B26;
}

.assertion-argument {

}

.assertion-spacing {
	color: #BF9D9D;
}

.assertion-message{

}

.success, .test-success {
	color: green;
}

.test-group {
	margin-left: 24px;
}

.test-group-title {
	font-weight: bold;
}

.test-pending {
	font-style: italic;
	color: #777777;
}