html {
	font-family: Consolas;
	color: #555555;
}

.message {
	margin-top: 8px;
	border: 2px dotted #cccccc;
	padding: 4px;
	background-color: #E8E5C1;
	border-radius: 3px;
}

.command {
	margin-top: 8px;
}

.command-number {
	font-size: smaller;
	color: #aaaaaa;
	width: 16px;
	display: inline-block;
}

.command-name {
	font-weight: bold;
}

.command-bracket {
	font-style: italic;
	color: #cccccc;
}

.command-comma {
	font-style: italic;
	color: #cccccc;
}

.command-argument {
	font-style: italic;
}

.command-comment {
	color: #6FC452;
}

.assertions {
	margin-left: 16px;
}

.assertion {
	color: #aaaaaa;
}

.fail {
	color: #C45252;
}

.assertion-argument {

}

.assertion-spacing {
	color: #BF9D9D;
}

.assertion-message{

}

