@model dynamic


<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
  </main>
</div>


<div class="mdl-ptag-mini-fab-label">Today</div>
<div class="mdl-ptag-mini-fab-label">Yesterday</div>
<div class="mdl-ptag-mini-fab-label">Thursday 23 Jul</div>
<div class="mdl-ptag-mini-fab-label">Sunday 19 Jul</div>
<div class="mdl-ptag-mini-fab-label">Saturday 18 Jul</div>




<div class="mdl-ptag-primary-action-group pull-right pull-down">
    <div class="button-wrapper">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored">
            <i>H</i>
        </button>
        <span class="mdl-ptag-mini-fab-label"><span class="frame">Holiday</span></span>
    </div>

    <div class="button-wrapper">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored">
            <i>D</i>
        </button>
        <span class="mdl-ptag-mini-fab-label"><span class="frame">Daniela</span></span>
    </div>

    <div class="button-wrapper">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored">
            <i>O</i>
        </button>
        <span class="mdl-ptag-mini-fab-label"><span class="frame">Olivia</span></span>
    </div>

    <div class="button-wrapper">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">edit</i>
        </button>
        <span class="mdl-ptag-mini-fab-label"><span class="frame">Create new</span></span>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored tag-mdl-primary-action">
        <i class="material-icons">edit</i>
    </button>
</!--div>
